* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;    
}

.div-princ {
    position: relative;
    display: flex;
    align-items: center;
    
}

.img-trevo {
    height: 80px;
    width: 80px;
}

img {
    width: 100vh;
    height: 100vh;
}

.div-sec {
    position: absolute;
    right: 10px;
    margin-right: 10%;
    background-color: aliceblue;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-family: 'Rowdies', cursive;
}

.input-value,
.input-result {
    width: 300px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
}

.input-result {
    padding-top: 8px;
}

button {
    background-color: #3A9E72;
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}
